.breadcrumb{
  background-color: white;
}

.Tarifa_Mesa{
  padding-left: 16px;
  background-image: url('../images/icon_train.gif');
  background-repeat: no-repeat;
}

.Compartir_coche{
  padding-left: 16px;
  background-image: url('../images/car.png');
  background-repeat: no-repeat;
}

.typeahead.dropdown-menu {
  z-index: 200000;
}